@import 'base/var.scss';
@import 'mixin/all.scss';
@import 'components/form.scss';
@import 'components/comic_reserve.scss';
@import 'components/member_data.scss';

@import 'components/comic_add.scss';
@import 'components/comic_info.scss';
@import 'components/news_modal.scss/';
@import 'components/member_deposit.scss';
@import 'components/member_edit.scss';
@import 'components/revise.scss';
@import 'components/comic_add.scss';
@import 'components/add_confirm.scss';
@import 'components/seats_now.scss';
@import 'components/seats_reserve.scss';


*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3.75rem;
  }
  h4 {
    font-size: 1.875rem;
  }
  h5 {
    font-size: 1.5rem;
  }