



*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
  }
 
  
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3.75rem;
  }
  h4 {
    font-size: 1.875rem;
  }
  h5 {
    font-size: 1.5rem;
  }