.add_confirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    pointer-events: none;
    .back {
        width: 315px;
        height: 157px;
        background-color: #BCCCD1;
        font-size: 32px;
        font-weight: 600;
        border-radius: 10px;
        position: relative;

        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 1000;
        top: 40%;
        right: 41%;
        box-sizing: border-box;
        color: #263238;

        .text {
            position: absolute;
            top: 35px;
            left: 90px;
        }

        .yes {
            width: 92px;
            background-color: #263238;
            color: white;
            border-radius: 30px;
            position: absolute;
            bottom: 20px;
            right: 180px;
            font-size: 14px;
        }

        .no {
            width: 92px;
            background-color: #263238;
            color: white;
            border-radius: 30px;
            position: absolute;
            bottom: 20px;
            right: 41px;
            font-size: 14px;
        }
    }

}