.comic_info {
  .com_info_btn {
  display: flex;
  width: 5.75rem;
  padding: 0.375rem 0.9375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 6.25rem;
  font-size: 0.75rem;
  background: $main_bg;
  color: $main_txt_color;
  cursor: pointer;
  margin-left: 62%; 
  }
  .com_info_top {
  margin-top: 28%;
  }
  .com_write_btn {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer; 
  border: 1px solid #cfc8c8;
  background-color: $main_txt_color;
  border-radius: 5px;
  margin-top: -10px;
  margin-left: 86%;
  }
  .com_x_btn {
  font-size: 2rem;
  cursor: pointer; 
  border: none;
  background-color: $backstage_modal_color;
  }
  p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  }
  .modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  }
  .modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .showModal1, .showModal2 {
  background-color: $backstage_modal_color;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 1100px;
  border-radius: 10px;
  justify-content: space-around;
    .titleare {
    display: flex;
    justify-content: space-between;
    }
    .com_whiteinfo_content {
    padding: 10px;
    width: 100%;
    background-color: $main_txt_color;
    justify-content: space-evenly;
      .checkbox {
      width: 22px;
      height: 22px;
      margin-top: 8px;
      }
      textarea {
      margin-top: 80px;
      margin-left: -90px;
      width: 330px;
      }
      #exampleFormControlTextarea1 {
      resize: none;
      }
    }
  }

  .showModal3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
    .modal-content {
    background-color: $backstage_modal_color;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 19.69888rem;
    height: 9.84944rem;
    border-radius: 10px;
    justify-content: space-around;
    }
    .popup_btnarea {
    display: flex;
    justify-content: space-around;
    .com_info_btn {
      margin-left: 0%; 
      }
    }
  }
}
