.com_add {
    width: 100%;
    padding: 20px;
    background-color: $backstage_modal_color;
    border-radius: 10px;
    p {
    font-size: 1.5rem;
    font-weight: 700;
    }
    .com_add_content {
        padding-top: 20px;
        // display: flex;
        // flex-direction: column;
        // box-sizing: border-box;
        width: 100%;
        background-color: $main_txt_color;
    }
    .com_add_btncontent {
        margin-top: 130px;
        margin-left: 320px;
    }
    .wordCount {
        margin-top: -70px;
        margin-right: 5%;
        color: #7B7979;
        font-size: 0.75rem;
        font-weight: 400;
        letter-spacing: 0.15rem;
        text-align:right;
    }
    .imgpreview {
        width: 200px;
        height: 150px;
        display: flex;
        gap:10px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    #exampleFormControlTextarea1 {
        resize: none;
      }
    .fileup {
        margin-top: -10px;
    }
    .checkbox {
        width: 22px;
        height: 22px;
    }
    .com_add_btn {
        display: flex;
        width: 5.75rem;
        padding: 0.375rem 0.9375rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex-shrink: 0;
        border-radius: 6.25rem;
        font-size: 0.75rem;
        background: $main_bg;
        color: $main_txt_color;
    }
  // GPT
.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    background-color: $backstage_modal_color;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 19.69888rem;
    height: 9.84944rem;
    border-radius: 10px;
    justify-content: space-around;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: 700;
    }
    .popup_btnarea {
      display: flex;
      font-size: 18px;
      justify-content: space-around;
    }
    }
  }

}


