.member_edit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    pointer-events: none;
    .management_all {
        background-color: #D0DbDf;
        width: 561px;
        height: 390px;
        padding: 10px 15px 15px;


        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 1000;
        top: 30%;
        right: 35%;
        box-sizing: border-box;
        color: #263238;
        .title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .gold {
            font-size: 18px;
            display: flex;
            font-weight: 500;
            margin-bottom: 5px;

            .buy {
                margin-right: 40px;
            }
        }

        .member_infor {
            .infor {
                background-color: rgb(255, 255, 255);
                max-width: 540px;
                height: 285px;
                padding: 30px 30px;
                position: relative;

                .pen {
                    position: absolute;
                    right: 50px;
                    top: 10px;
                    display: none;
                }

                .first {
                    display: flex;
                    align-items: center;
                    // margin-bottom: 10px;


                    .name {
                        margin-left: 15px;
                        margin-right: 15px;
                        border-radius: 6px;
                        border: 2px solid #CFD4D9;
                        background-color: #EBEBEB;
                        height: 24px;

                    }

                    #sex {
                        width: 177px;
                        height: 30px;
                        margin-left: 15px;
                        border-radius: 6px;
                        border: 2px solid #CFD4D9;
                        background-color: #EBEBEB;
                    }
                }

                .second {
                    display: flex;
                    align-items: center;
                    margin: 3px 0;

                    .password {
                        margin-left: 15px;
                        border-radius: 6px;
                        border: 2px solid #CFD4D9;
                        background-color: #EBEBEB;
                        height: 24px;

                    }

                    .phone {
                        margin-left: 15px;
                        margin-right: 15px;
                        margin-bottom: 10px;
                        border-radius: 6px;
                        margin-top: 10px;
                        border: 2px solid #CFD4D9;
                        background-color: #EBEBEB;
                        height: 24px;

                    }
                }

                .third {
                    display: flex;
                    align-items: center;
                    margin-bottom: 3px;

                    .birthday {
                        margin-left: 15px;
                        margin-right: 15px;
                        border-radius: 6px;
                        border: 2px solid #CFD4D9;
                        background-color: #EBEBEB;
                        height: 24px;

                    }

                    .mail {
                        margin-left: 15px;
                        border-radius: 6px;
                        border: 2px solid #CFD4D9;
                        background-color: #EBEBEB;
                        height: 24px;

                    }
                }

                .address {
                    margin-left: 15px;
                    margin-bottom: 10px;
                    border-radius: 6px;
                    margin-top: 10px;
                    border: 2px solid #CFD4D9;
                    background-color: #EBEBEB;
                    width: 419px;
                    height: 24px;

                }

                .barcode {
                    display: flex;
                    flex-direction: column;
                    max-width: 100px;
                    font-size: 13px;
                    position: absolute;
                    bottom: 50px;
                    right: 50px;
                }

                .confirm {
                    width: 92px;
                    background-color: #263238;
                    color: white;
                    border-radius: 30px;
                    position: absolute;
                    bottom: 15px;
                    right: 46px;
                    font-size: 14px;
                }
                

            
            }
        }
        .com_x_btn {
            font-size: 2rem;
            cursor: pointer; 
            border: none;
            background-color: $backstage_modal_color;
            }
    }
    
}