.confirm_modal{
    background-color: $backstage_modal_color;
    border-radius: 10px;
    width: 25%;
    height: 25%;
    position: fixed;
    z-index: 1001;
    top: 50%;
    right: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h1{
        color: $main_bg;
    }
    .confirm_buttons{
        display: flex;
        gap: 70px;
        font-size: 18px;
        button{
            width: 120px;
            background-color: $main_bg;
            color: $main_txt_color;
            border: none;
            border-radius: 100px;
            box-sizing: border-box;
            padding: 5px 30px;
        }
    }
}