.news_modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    // z-index: 999;
    pointer-events: visible;
}

.news_modal {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #BCCCD1;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    .news_header {
        flex-direction: column;
        align-items: flex-start;
        position: relative;

    }

    .news_body {
        background-color: #fff;
        padding: 40px;
        border-radius: 10px;
    }

    .btn-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    #news_content {
        width: 100%;
        height: 400px;

    }

    .news_footer {
        text-align: right;
    }

    .wordCount {
        color: #7B7979;
        font-size: 0.75rem;
        font-weight: 400;
        text-align: right;
    }

    .button_none {
        display: none;
    }

    .img_block {
        display: inline-block;
        // max-width: 300px;
        height: 300px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center center;
        }
    }

}