.revise {
    .back {
        width: 315px;
        height: 157px;
        background-color: #BCCCD1;
        font-size: 32px;
        font-weight: 600;
        border-radius: 10px;
        position: relative;


        .text {
            position: absolute;
            top: 35px;
            left: 90px;
        }

        .confirm {
            width: 92px;
            background-color: #263238;
            color: white;
            border-radius: 30px;
            position: absolute;
            bottom: 20px;
            right: 115px;
            font-size: 14px;
        }
    }
}