.scrollable-table {
    max-height: 400px; /* Adjust the height as needed */
    height: 100%;
    overflow-y: auto;
    margin-bottom: 40px; /* Give space for pagination */
  }
  
  .pagination-wrapper {
    position: absolute;
    right: 40px;
    bottom: 100px;
  }

  @media screen and (min-width: 1680px){
.scrollable-table {
    max-height: 650px; /* Adjust the height as needed */
  }
  }